<div class="row">
  <div class="col-md-12">
    <h1>Phone Books <button type="button" class="btn btn-primary" (click)="openCreateModal()">Add New</button></h1>
  </div>
  <div class="col-md-offset-9 col-md-3">
    <input id="name" type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm"/>
  </div>
</div>

<p *ngIf="phoneBooks===undefined"><em>Loading...</em></p>

<table class='table' *ngIf="phoneBooks">
  <thead>
  <tr>
    <th>Name</th>
    <th><span class="pull-right"> Contact Count</span></th>
    <th>Date Created</th>
    <th>Date Modified</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <span *ngIf="phoneBooks.length == 0"><em>No phone books to show </em></span>
    <tr *ngFor="let phoneBook of getBooksToDisplay()">
      <td>{{ phoneBook.name }}</td>
      <td><span class="pull-right">{{ phoneBook.contactCount }}</span></td>
      <td>{{ phoneBook.dateCreated | date:'medium' }}</td>
      <td>{{ phoneBook.dateModified | date:'medium' }}</td>
      <td> <button type="button" class="btn btn-primary" (click)="openEditModal(phoneBook)">Edit</button>
           <button type="button" class="btn btn-danger" (click)="openDeleteModal(phoneBook)">Delete</button></td>
    </tr>
  </tbody>
</table>
