<div class="row">
  <div class="col-md-12">
    <h1 [hidden]="!phoneBook">Phone entries for {{phoneBook?.name}} </h1>
  </div>
</div>
<hr />
<div class="row bottom-margin">
  <div class="col-md-3">
    <button type="button" class="btn btn-info" [routerLink]="['/']">Back</button>
    <button type="button" class="btn btn-primary" (click)="openCreateModal()">Add New</button>
  </div>
  <div class="col-md-offset-6 col-md-3">
    <input id="name" type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" />
  </div>
</div>
<p *ngIf="phoneEntries===undefined"><em>Loading...</em></p>
<table class='table table-striped table-bordered' *ngIf="phoneEntries">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>Date Created</th>
    <th>Date Modified</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let phoneEntry of getEntriesToDisplay()">
    <td>{{ phoneEntry.name }}</td>
    <td>{{ phoneEntry.phoneNumber }}</td>
    <td>{{ phoneEntry.dateCreated | date:'medium' }}</td>
    <td>{{ phoneEntry.dateModified | date:'medium' }}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="openEditModal(phoneEntry)">Edit</button>
      <button type="button" class="btn btn-danger" (click)="openRemoveModal(phoneEntry)">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
<span *ngIf="phoneEntries?.length == 0"><em>No phone entries to show </em></span>
